:root {
  /* Color palette */
  --primary-color: #333;
  --secondary-color: #0056b3;
  --background-color: #fff;
  --text-color: #333;
  --link-color: #333;
  --link-hover-color: #007bff;
  --timeline-color: #808080;
  --divider-gradient-start: rgba(128, 128, 128, 0);
  --divider-gradient-end: rgba(128, 128, 128, 0.8);

  /* Typography */
  --font-family-default: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --base-font-size: 16px;
  --line-height: 1.6;

  /* Spacing */
  --base-spacing: 8px;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-default);
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--base-font-size);
  line-height: var(--line-height);
}

header {
  position: fixed;
  width: 100%;
  background-color: var(--background-color);
  z-index: 1000;
  top: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: calc(var(--base-spacing) * 2);
}

.container {
  width: 90%;
  max-width: 1200px; /* Ensures the container doesn't get too wide on large screens */
  margin: 0 auto;
  padding-top: 60px; /* Adjust based on header height */
}

.profile-section {
  text-align: center;
  margin: auto;
  padding: calc(var(--base-spacing) * 4) 0;
}

.profile-image-container {
  display: inline-block;
}

.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: calc(var(--base-spacing) * 2.5);
}

.profile-info {
  display: inline-block;
  vertical-align: top;
}

h1, .tagline {
  margin: 0;
  padding: calc(var(--base-spacing) * 1.5) 0;
}

.tagline {
  font-style: italic;
  color: #666;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: calc(var(--base-spacing) * 2);
}

.social-links a {
  color: var(--link-color);
  margin: 0 calc(var(--base-spacing) * 1.25);
  font-size: 24px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: var(--link-hover-color);
}

.divider {
  border: none;
  height: 1px;
  background: linear-gradient(to left, var(--divider-gradient-start), var(--divider-gradient-end), var(--divider-gradient-start));
  margin: calc(var(--base-spacing) * 5) 0;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: calc(var(--base-spacing) * 4);
  position: relative;
  margin: 20px auto;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: var(--timeline-color);
  transform: translateX(-50%);
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.year, .company-logo {
  align-self: flex-start;
  transform: translateX(-50%);
}

.year {
  background-color: var(--background-color);
  padding: calc(var(--base-spacing) / 2) calc(var(--base-spacing) * 1.5);
  border-radius: calc(var(--base-spacing) / 2);
}

.company-logo {
  width: 50px;
  height: 50px;
}

.timeline-content {
  background-color: var(--background-color);
  padding: calc(var(--base-spacing) * 2);
  border-radius: calc(var(--base-spacing) / 2);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

@media (max-width: 767px) {
  .container, .profile-section, .timeline {
    width: 100%;
    padding-left: calc(var(--base-spacing) * 2);
    padding-right: calc(var(--base-spacing) * 2);
  }

  .timeline::before {
    left: calc(var(--base-spacing) * 3);
    transform: none;
  }

  .year, .company-logo {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
  }

  .timeline-item {
    align-items: flex-start;
  }
}
